<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    D3 Charts
  </h1>
</div>


<hr>



<hr><br>

<table style="width:100%" border="1">
<tr>
<td>
<div style="width:100%; height:auto;">
<app-line-chart></app-line-chart>
</div>
</td>

<td>

<div style="width:100%; height:auto;">
<app-barchart></app-barchart>
</div>
</td>
</tr>


<tr>
<td>
<div style="width:100%; height:auto;">
<app-pie-chart></app-pie-chart>
</div>
</td>

<td>

<div style="width:100%; height:auto;">
<app-donut-chart></app-donut-chart>
</div>
</td>
</tr>

</table>






<hr>



